html{
    margin: 0;
    height: 100dvh;
    width: 100%;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 40px;
}
section{
    display: grid;
    height: 100%;
    width: 100%;
    background: rgb(82, 82, 82);
    padding: 1px;
    text-align: center;
}
